# Activer le moteur de réécriture
RewriteEngine On

# Ne pas appliquer la réécriture si le fichier ou le dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Désactiver l'affichage de la liste des fichiers
Options -Indexes

# Page d'erreur 404 personnalisée
ErrorDocument 404 /404.php   